node_modules
vendor
.git
.github
.env
.env.testing
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
bootstrap/cache/*.php
database/*.sqlite